target/
*iroh-data
*/.sendme*

# Added by cargo

/target
Cargo.lock

## iOS
## User settings
xcuserdata/

# Xcode
*.xcworkspace
*.xcuserstate
*.xccheckout

# Swift Package Manager
/.build

# CocoaPods
Pods/