[package]
name = "app"
version = "0.1.0"
description = "Todos with Iroh"
license = "MIT OR Apache-2.0"
authors = ["dignifiedquire <me@dignifiedquire.com>", "n0 team"]
repository = "https://github.com/n0-computer/iroh-example-todos"
default-run = "app"
edition = "2021"
rust-version = "1.65"

[build-dependencies]
tauri-build = { version = "1.0.4", features = [] }

[dependencies]
anyhow = "1"
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
tauri = { version = "1.6.1", features = ["api-all"] }
tokio = { version = "1" }
quic-rpc = { version = "0.18" }
iroh = "0.32"
iroh-docs = { version = "0.32", features = ["rpc"] }
iroh-blobs = { version = "0.32", features = ["rpc"] }
iroh-gossip = { version = "0.32", features = ["rpc"] }
iroh-node-util = "0.32"
bytes = "1"
num_cpus = { version = "1.15.0" }
tokio-util = { version = "0.7" }
futures-lite = "2.3.0"

[features]
# by default Tauri runs in production mode
# when `tauri dev` runs it is executed with `cargo run --no-default-features` if `devPath` is an URL
default = [ "custom-protocol" ]
# this feature is used used for production builds where `devPath` points to the filesystem
# DO NOT remove this
custom-protocol = [ "tauri/custom-protocol" ]


[patch.crates-io]
iroh = { git = "https://github.com/n0-computer/iroh.git", branch = "main" }
iroh-docs= { git = "https://github.com/n0-computer/iroh-docs.git", branch = "main" }
iroh-blobs = { git = "https://github.com/n0-computer/iroh-blobs.git", branch = "main" }
iroh-gossip = { git = "https://github.com/n0-computer/iroh-gossip.git", branch = "main" }
iroh-node-util = { git = "https://github.com/n0-computer/iroh-node-util.git", branch = "main" }
quic-rpc = { git = "https://github.com/n0-computer/quic-rpc.git", branch = "main" }
