[workspace]
resolver = "2"
members = ["shared", "cli", "browser-wasm"]

[workspace.dependencies]
# we define iroh dependencies here to make upgrading easier.
iroh = { version = "0.94", default-features = false }
iroh-tickets = "0.1"
iroh-gossip = { version = "0.94", default-features = false, features = ["net"] }

[patch.crates-io]
iroh-base = { path = "../../iroh/iroh-base" }
